@model List<RecipeItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recipes</h1>
    <ul>
        @foreach (var recipe in Model)
        {
            <li>@recipe.RecipeName</li>
        }
    </ul>
</div>
